.tableHead{border-bottom: 2px solid #dedede;}
.tableHead::after{
    content:'';
    height:15px;
    width:100%;
    display:block
}
.tableHead th{font-weight:600}

.tableBody td{font-size:14px; padding:10px 0px}
.tableBody tr{border-bottom:1px solid #dedede}
.tableBody tr:last-child{border-bottom:0px}
.tableBody tr:last-child td{padding-bottom:0px}