body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#cecece;
}

.App{
  margin:30px auto;
}

a{
  text-decoration:none;
  color:#6c757d;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover{
  text-decoration:none;
  color:#6c757d;
  opacity:.75;
}

h2{
  font-size:1.5rem;
}

.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb1rem{margin-bottom:1rem}
.mb1hrem{margin-bottom:1.5rem}
.mb2rem{margin-bottom:2rem}

.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt1rem{margin-top:1rem}
.mt1hrem{margin-top:1.5rem}
.mt2rem{margin-top:2rem}

.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}

.text-bold{font-weight:bold}
.text-600{font-weight:600}
.text-italic{font-style:italic}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}